language: php

php: [5.5]

before_script:
  - composer selfupdate
  - export COMPOSER_ROOT_VERSION=2.0.0-RC3
  - composer install --prefer-source

script:
  - bin/phpspec run
  - bin/phpcs --standard=rules/phpcs.xml app/code

  - bin/phpmd app/code text cleancode --exclude lightopenid
  - bin/phpmd app/code text codesize --exclude lightopenid
  - bin/phpmd app/code text controversial --exclude lightopenid
  - bin/phpmd app/code text design --exclude lightopenid
  - bin/phpmd app/code text naming --exclude lightopenid
  - bin/phpmd app/code text unusedcode --exclude lightopenid
  
  - bin/php phploc.phar app/code
